aside.dashboard-sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    .logo-section {
        .logo {
            padding: 32px 78px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
        }
    }
    .all-routes {
        flex: 1;
        padding: 40px 0;
        .routes {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .route {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 17px 19px;
                cursor: pointer;
                border-radius: 32px;
                .icon {
                    font-size: 30px;
                }
                .name {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;
                }
                &.active,
                &:hover {
                    background-color: #233951;
                    .name,
                    .icon {
                        color: white;
                    }
                }
            }
        }
    }
    .user {
        padding-bottom: 40px;
        hr {
            margin-bottom: 20px;
        }
    }
}
