aside.dashboard-sidebar {
    position: relative;
    background-color: white;

    &.mobile {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 123;
        height: 100vh;
    }

    .opener {
        all: unset;
        position: absolute;
        padding: 10px 12px;
        border-radius: 50px;
        display: flex;
        top: 15px;
        right: -33px;
        z-index: 1231;
        font-size: 30px;
        /* background color */
        width: 40px;
        height: 40px;
        /* center */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.closed {
        .logo-section,
        .all-routes,
        .user {
            opacity: 0;
        }
    }
    .dashboard-sidebar-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        overflow-x: hidden;
        .user {
            padding: 10px;
        }
        

        @media (max-width: 800px) {
            gap: 15px;

            .user {
                display: none;
            }
        }
        .logo-section {
            position: relative;
            .logo {
                padding: 32px 78px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 30px;
                @media (max-width: 1200px) {
                    padding: 15px 20px;
                }
            }
        }
        .all-routes {
            flex: 1;
            @media (max-width: 1200px) {
                padding: 10px 0;
            }
            .routes {
                display: flex;
                flex-direction: column;
                gap: 20px;
                @media (max-width: 1200px) {
                    gap: 10px;
                }
                .route {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 17px 19px;
                    cursor: pointer;
                    border-radius: 32px;
                    @media (max-width: 1200px) {
                        padding: 10px 12px;
                        gap: 10px;
                    }
                    .icon {
                        font-size: 30px;
                        @media (max-width: 1200px) {
                            font-size: 15px;
                        }
                    }
                    .name {
                        font-family: "Inter", sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        /* background-color: red; */
                        white-space: nowrap;
                        @media (max-width: 1200px) {
                            font-size: 12px;
                        }
                    }
                    &.active,
                    &:hover {
                        background-color: #233951;
                        .name,
                        .icon {
                            color: white;
                        }
                    }
                }
            }
        }
        .user {
            padding-bottom: 40px;
            font-family: "Inter", sans-serif;
            hr {
                margin-bottom: 20px;
            }
            .profile {
                display: flex;
                gap: 20px;
                align-items: center;
                margin-top: 25px;
                font-family: "Inter", sans-serif;
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
            }
            .actions {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                button {
                    all: unset;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    font-family: "Inter", sans-serif;
                    svg {
                    }
                }
            }
        }
    }
}
