.each-row {
    width: 100%;

    .row-content {
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: start;

        .row-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 50px 10px;
            border-bottom: 1px solid #eff3fb;

            .fields {
                font-family: DM Sans;
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0px;
                width: 14%;
                text-align: center;
                color: rgba(105, 105, 105, 1);
                min-width: 150px;

                &.submission-link {
                    word-wrap: break-word;
                    width: 30%;
                    min-width: 200px;

                    a {
                        font-family: DM Sans;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-align: center;
                        color: rgba(105, 105, 105, 1);
                        text-decoration: none;
                    }
                }
                &.upload-btn {
                    display: flex;
                    justify-content: center;
                    button {
                        all: unset;
                        color: white;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--blueColor);
                        padding: 5px;
                        &:disabled {
                            background-color: #999999;
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }
}
