.dashboard-banner-search {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboard-banner-search .banner-search-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    @media (max-width: 1440px) {
        gap: 25px;
    }
    @media (max-width: 991px) {
        gap: 20px;
    }
    @media (max-width: 767px) {
        gap: 20px;
        padding: 10px;
    }
    @media (max-width: 567px) {
        gap: 10px;
    }
}

.dashboard-banner-search .banner-search-wrapper .search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 513px;
    position: relative;
    @media (max-width: 1440px) {
    }
    @media (max-width: 991px) {
        max-width: 45%;
    }
    @media (max-width: 767px) {
        max-width: 32%;
    }
    @media (max-width: 567px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
}

.dashboard-banner-search .banner-search-wrapper .search input::placeholder {
    color: #233951;
    opacity: 42%;
    @media (max-width: 567px) {
        color: #eff3fb;
    }
}
.dashboard-banner-search .banner-search-wrapper .search input {
    width: 100%;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0%;
    padding: 14px 14px 14px 55px;
    background-color: #eff3fb;
    border: none;
    border-radius: 50px;
    color: #233951;
    opacity: 42%;
    @media (max-width: 1440px) {
    }
    @media (max-width: 991px) {
        font-size: 16px;
        padding: 10px 10px 10px 50px;
    }
    @media (max-width: 767px) {
    }
    @media (max-width: 567px) {
        padding: 0px;
        width: 40px;
        height: 40px;
    }
}
.dashboard-banner-search .banner-search-wrapper .search .search-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 20px;
    @media (max-width: 991px) {
        width: 20px;
        height: 20px;
    }
    @media (max-width: 567px) {
        width: 24px;
        height: 24px;
        inset: 8px;
    }
}
.dashboard-banner-search .banner-search-wrapper .search svg path {
    @media (max-width: 567px) {
        background-color: #eff3fb;
        fill: rgb(16, 16, 87);
    }
}

.dashboard-banner-search .banner-search-wrapper .notification {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-color: #eff3fb;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 991px) {
        width: 40px;
        height: 40px;
    }
}

.dashboard-banner-search .banner-search-wrapper .notification .bell-icon {
    display: block;
}

.dashboard-banner-search .banner-search-wrapper .notification .badge-icon {
    /* display: none; */
    display: block;
}
