@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&family=Martel+Sans:wght@200;300;400;600;700;800&family=Poppins&display=swap");


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 126px;
    width: 80vw;
    margin: 30px auto;
  
    .logo img {
      padding: 10px;
      width: 100px;
      border-radius: 50%;
    }
    .hamburger {
      display: none;
    }
  
    .bars {
      display: flex;
      width: 41vw;
      justify-content: center;
      gap: 30px;
      color: var(--blueColor);
      font-size: 20px;
  
      div:nth-child(2) img {
        margin-left: 5px;
      }
      .bars img {
        padding-left: 5px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    nav {
      width: 80vw;
  
      .logo img {
        width: 80px;
      }

      .hamburger {
        display: block;
        background-color: white;
        color: var(--blueColor);
        font-size: 50px;
      }
  
      .bars {
        display: none;
        /* width: 80vw;
        :nth-child(-n + 5) {
          font-size: 20px;
        } */
      }

      button {
        display: none;
      }
    }
  }

  @media screen and (max-width: 600px) {
    nav {
      width: 90vw;
      .logo img {
        width: 55px;
      }
      .hamburger {
        display: block;
        background-color: white;
        color: var(--blueColor);
        font-size: 50px;
      }
      .bars {
        width: 90vw;
        gap: 8px;
        margin: 0 5px 0 0;
        :nth-child(-n + 5) {
          font-size: 13px;
        }
  
        div:nth-child(2) img {
          margin-left: 0px;
        }
      }
      button {
        width: 100px;
        padding: 18px 15px;
        font-size: 10px;
        border-radius: 50px;
        img {
          width: 10px;
        }
      }
    }
  }




  