.landing-page-section-5 {
  max-width: 1440px;
  width: 80vw;
  border: 3px solid var(--lightBlue);
  background-color: var(--shadyBlue);
  margin: 30px auto;
  animation: bounce 5s infinite ease-in-out;

  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  > span:nth-child(1) {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: var(--blueColor);
  }

  > p:nth-child(2) {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--lightBlue);
    text-align: center;
  }

  > span:nth-child(4) {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: var(--blueColor);
  }

  .buttons {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
    
    button {
      padding: 22px 22px;
      font-size: 16px;
    }

    .learn {
      background-color: var(--shadyBlue);
      color: black;
      border: 2px solid var(--dimBlue);
      border-radius: 30px;
      font-size: 16px;
      padding: 22px 22px;
    }
  }

  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;

    .box {
      background-color: var(--lightBlue);
      padding: 25px 0;
      flex: 1 1 100px; 
    min-width: 70px; 
    max-width: 120px; 
      /* height: 10vh; */
      border-radius: 30px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 1000px) {
  .landing-page-section-5 {
    width: 75vw;
    > span:nth-child(1) {
      font-size: 40px;
    }
    > span:nth-child(4) {
      font-size: 26px;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      button {
        margin: 10px;
        width: 200px;
        font-size: 17px;
        img {
          width: 14px;
        }
      }
    }
    .box {
      flex: 1 1 150px;
      min-width: 100px;
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 600px) {
  .landing-page-section-5 {
    width: 90vw;
    & .boxes {
    .box {
      flex: 1 1 150px;
      min-width: 60px;
      max-width: 300px;
      font-size: 17px;
    }
  }
  }
}
