.ChallengeEntry {
    padding: 50px;
    .ChallengeEntry-wrapper {
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        padding: 40px;

        display: flex;
        flex-direction: column;
        gap: 20px;

        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .head {
            .title {
                font-size: 30px;
                font-weight: 700;
                color: #233951;
                font-family: DM sans;
            }
        }
        .body {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .input {
                display: flex;
                flex-direction: column;
                gap: 5px;
                .title {
                    font-size: 20px;
                    font-weight: 700;
                    color: #233951;
                    font-family: DM sans;
                }
                input {
                    padding: 10px;
                    border: 1px solid #d3d3d3;
                    border-radius: 6px;
                    outline: none;
                }
                input {
                    outline: none;
                }
            }
        }
        .foot {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .project-title {
                font-size: 20px;
                font-weight: 700;
                color: #233951;
                font-family: DM sans;
            }
            .project-info {
                padding: 20px;
                border: 1px solid #d3d3d3;
                border-radius: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                .input {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    input {
                        padding: 10px;
                        border: 1px solid #d3d3d3;
                        border-radius: 6px;
                        outline: none;
                    }
                    &.size-1 {
                        flex-basis: calc(50% - 15px);
                    }
                    &.size-2 {
                        flex-basis: 100%;
                    }
                    .title {
                        font-size: 20px;
                        font-weight: 700;
                        color: #233951;
                        font-family: DM sans;
                    }
                }
            }

            button.submit {
                align-self: flex-start;
            }
        }
    }
}
