.landing-page-section-6 {
    max-width: 1440px;
    width: 80vw;
    margin: auto;
    color: white;
    padding: 34px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        text-align: center;
        font-size: 48px;
        color: var(--blueColor);
    }

    .faqbox {
        .header {
            transition: all 0.5s ease-out;
            font-size: 24px;
            color: white;
            background-color: var(--blueColor);
            padding: 24px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            align-items: center;

            &:hover {
                background-color: var(--lightBlue);
            }
        }
        .content {
          color: white;
          background-color: var(--blueColor);
          padding: 24px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .faq h2 {
        font-size: 42px;
    }
}
