.toast-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast {
    padding: 16px 24px;
    border-radius: 8px;
    margin: 10px 0;
    background-color: #f8f9fa;
    color: #333;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(20px);
    opacity: 0;
    animation: slideIn 0.3s forwards, slideOut 0.3s forwards 2.7s;
    position: relative;
}

.toast.success::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 8px 0 0 8px;
    background-color: var(--lightBlue);
}
.toast.error::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 8px 0 0 8px;
    background-color: red;
}
.toast.info::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 8px 0 0 8px;
    background-color: #17a2b8;
}

@keyframes slideIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.toast.success {
    /* background-color: #28a745; */
    /* color: #fff; */
}

.toast.error {
    /* background-color: #dc3545; */
    /* color: #fff; */
}

.toast.info {
    /* background-color: #17a2b8;
    color: #fff; */
}

.toast span {
    flex: 1;
}

.toast button {
    all: unset;
    cursor: pointer;
    margin-left: 10px;
    color: inherit;
    font-size: 16px;
}

.toast-content {
    display: flex;
    flex-direction: column;
}

.toast-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.toast-description {
    font-size: 14px;
}

.toast.success .toast-title {
    color: var(--lightBlue);
}

.toast.error .toast-title {
    color: #dc3545;
}

.toast.info .toast-title {
    color: #17a2b8;
}