@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

.table-section {
    width: 100%;
    background-color: azure;
    border-radius: 20px;

    .table-wrapper {
        .table-tools {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            .upload-container {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .filter-icon {
                    width: 40px;
                    height: 40px;
                    border-radius: 29px;
                    background-color: #f2f2f2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .table-content {
            .table-fields {
                background-color: #eff3fb;
                width: 100%;
                display: flex;
                justify-content: start;

                .field-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 50px 10px;

                    .fields {
                        font-family: DM Sans;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 130%;
                        letter-spacing: 0px;
                        width: 14%;
                        text-align: center;

                        &.submission-link {
                            width: 30%;
                        }
                    }
                }
            }

            .tables-rows {
                /* Styles for table rows */
            }
        }
    }
}
